@page "/createbooking"
@inject NavigationManager navigation

<h3>Create Booking</h3>
<BookingDetails ButtonText="Create"
                Booking="@_booking"
                OnClose="@OnCreateBookingClose"
                ErrorMessage="@_errorMessage"/>
