@page "/rooms"

<h1>R</h1>
<h3>Rooms</h3>

@if (rooms == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Places</th>
                <th>Is projector</th>
            </tr>

        </thead>
        <tbody>
            
        </tbody>
    </table>
}

